:root {
    --darkred:#FF4D4D;
    --midred:#FF6A6A;
    --peach:#FFCCCC;
    --washedblack:#595959;
}
.limit-holder{
    display: flex;
    justify-content: center;
    width: 100%;
}
nav{
    width: 85%;
}
.center{
    width: 80%;
}
.all-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    width: 100%;
}
.input-holder{
    
}